<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Регистрационное поле:</h3>
    <form method="post">
        <label for="username">Введите логин</label>
        <input type="text" id="username" name="username" maxlength="30" required>

        <label for="password">Введите пароль</label>
        <input type="text" id="password" name="password" maxlength="8" required>

        <label for="repeat_password">Повторите пароль</label>
        <input type="text" id="repeat_password" name="password" maxlength="8" required>

        <label for="age">Введите ваш возраст</label>
        <input type="int" id="age" name="age" maxlength="3" required>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>